doctype html
html
    head
        title Study Introduction
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='../fontawesome/css/fontawesome.css', rel='stylesheet')
        link(href='../fontawesome/css/brands.css', rel='stylesheet')
        link(href='../fontawesome/css/solid.css', rel='stylesheet')

        style.
            body {
                padding: 20px;
                font-family: Lato;
            }

            .btn {
                margin-left: 10px;
                margin-right: 10px;
            }

            p {
                text-align: left;
            }


    body
        #part1.container
            //- h4(style="text-align:center") HONG KONG BAPTIST UNIVERSITY
            h4(style="text-align:center") Online Study Consent Form
            h4(style="text-align:center") MusicBot Evaluation

            h6 <u> PURPOSE OF RESEARCH STUDY:</u>
            p The purpose of this study is to investigate how users communicate with a music chatbot for exploring diverse songs. 
            
            h6 <u> PROCEDURES:</u>
            p Your task is to interact with the provided music chatbot to create a playlist that contains 20 pieces of music that fit your taste, and select the top-5 most preferred songs from your created playlist. Then, you will provide your evaluation feedback by completing online questionnaires. 

            h6 <u> DURATION: </u>
            p This study will take you approximately 20 minutes to complete (including time for filling out two questionnaires). We also have a bonus questionnaire that may take you approximately 6 minutes to complete.
            
            h6 <u> BENEFITS: </u>
            P Although it may not directly benefit you, this study may benefit society by improving how dialogue systems assist humans to find satisfying items (e.g., music, movie and hotel). This could lead to better conversational user interfaces for computers and mobile devices.
            
            h6 <u>RISKS/DISCOMFORTS:</u>
            p There are no risks for participating in this study beyond those associated with normal computer use.

            h6 <u> VOLUNTARY PARTICIPATION AND RIGHT TO WITHDRAW: </u>
            p Your participation in this study is voluntary; you may decline to participate without penalty. If you decide to participate, you may withdraw from the study at any time without penalty. If you withdraw from the study before data collection is completed your data will be destroyed.

            h6 <u> CIRCUMSTANCES THAT COULD LEAD US TO END YOUR PARTICIPATION: </u>
            p We may decide to end your participation if we identify that you are not following the instructions closely enough.

            h6 <u> CONFIDENTIALITY: </u>    
            p This study does not have any commercial usage delegated by Spotify. Your operations on our system will not affect your listening profile in Spotify. 
            p#turk_info1 The identifying information based on your participation in this study (i.e., Amazon Mechanical Turk serial numbers, worker ID) will not be shared with anyone outside the research team and will only be used by Amazon to handle financial transactions. 
            p#prolific_info1 The identifying information based on your participation in this study (i.e., Prolific ID) will not be shared with anyone outside the research team and will only be used by Prolific to handle financial transactions. 
            p All of your data will be kept confidentially and be only used for our research analysis. 

            h6 <u> COMPENSATION: </u>
            p#turk_info2 If you satisfactorily complete the study, you will receive $2.2 to compensate you for your participation. If you satisfactorily complete our bonus questionnaire, you will receive $0.6 as additional reward. Payments are made via Amazon’s payment system.
            p#prolific_info2 If you satisfactorily complete the study, you will receive  £2.2 to compensate you for your participation. If you satisfactorily complete our bonus questionnaire, you will receive £0.6 as additional reward. Payments are made via Prolific payment system.

            h6 <u> CONTACT INFORMATION: </u>
            p If you have any questions about this research, or your rights as a participant in this research have been violated during the course of this study, you may contact: Wanling Cai at <a href="mailto:cswlcai@comp.hkbu.edu.hk">cswlcai@comp.hkbu.edu.hk</a>, Yucheng Jin at <a href="mailto:jinyc2@lenovo.com">jinyc2@lenovo.com</a>, or Li Chen at <a href="mailto:lichen@comp.hkbu.edu.hk">lichen@comp.hkbu.edu.hk</a>.  
 
            h6 <u> CLICKING ACCEPT: </u>
            p By clicking on the “Accept” button, you indicate that you are 18 years of age or older, that you voluntarily agree to participate in this study and that you understand the information in this consent form. 

            hr
            .row.justify-content-center
                button#decline.btn.btn-default Decline
                button#accept.btn.btn-success Accept

        link(href='../bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        script(src = "../jquery/dist/jquery.min.js", charset = 'utf-8')
        script(src = "../bootstrap/dist/js/bootstrap.min.js")
        script.
            var platform = window.location.search.substring(1)
            if (platform.startsWith('prolific')){
                platform = 'prolific'
            }
            else if (platform.startsWith('turk')){
                platform = 'turk'
            }
            window.localStorage.setItem("platform",platform)

            if(platform!=window.localStorage.getItem("platform")){
                window.location.href='/failure3'
            }

            if(platform=="turk"){
                $("#prolific_info1").hide()
                $("#prolific_info2").hide()

            }
            else if(platform=="prolific"){
                $("#turk_info1").hide()
                $("#turk_info2").hide()
            }

            $("#decline").click(function () {
                window.location.href = "/quit"
            })

            $("#accept").click(function () {
                window.location.href = "/"
            })