doctype html
html
    head
        title Listening Profile
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='../fontawesome/css/fontawesome.css', rel='stylesheet')
        link(href='../fontawesome/css/brands.css', rel='stylesheet')
        link(href='../fontawesome/css/solid.css', rel='stylesheet')
        style.
            body{
                padding: 20px;
                font-family: Lato;
                font-weight: lighter;
            }

            a{
                font-size: large;
            }

            p{
                font-size:large;
            }

            img{
                width:0%;
            }
    body
        #part1.container
            h4(style="text-align:center") Welcome to Evaluate Our Music Bot
            h5(style="text-align:center") Build Your Listening Profile
            br 
            p Dear participants,
            p Thank you very much for taking part in this experiment!
            p It seems that you are not a regular Spotify user. Our system needs your listening profile to generate recommendations.
            p(style="background-color: aqua") Please click the button <b>"Build My Listening Profile"</b> to build your listening profile and continue to do the study.
            p Thank you for your understanding! :)

            hr
            .row.justify-content-center
                button#buildProfile.btn.btn-primary Build My Listening Profile

        //- div(style='width:20%;height:auto')
        //-     img(src="img/thanks.gif")

        link(href='../bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='../jquery-ui/themes/base/jquery-ui.min.css', rel='stylesheet')
        script(src = "../jquery/dist/jquery.min.js", charset = 'utf-8')
        //script(type = "text/javascript", src = "../jquery.cookie/jquery.cookie.js", charset = 'utf-8')
        script(src = "js/popper.min.js", charset = 'utf-8')
        script(src = "../bootstrap/dist/js/bootstrap.min.js")
        script.
            var log = {
                id: window.localStorage.getItem("userid"),
                reason: "failure2",
                time: new Date()
            }

            $.ajax({
                url: '/addError',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(log),
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(err)
                }
            });

            $("#buildProfile").on("click", function(){
                window.location.href = '/profile'
            })
