doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet" type = "text/css", href = "../jquery-ui/themes/base/jquery-ui.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='../bootstrap-star-rating/css/star-rating.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .pop-up
      #song-rank
        p Please select 5 songs you think they are most diverse in your playlist.
        p If you want to listen to a song, you can first click its name and then click the PLAY button in the player.
        br
        iframe(src="" width="80%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media")
        br
        br
        #toplist
          #toplist1
            ul
          #toplist2
            ul
        br
        br
        button#submit.btn.btn-primary.disabled Submit
    #container
      .context
        h5#task-description(style="text-align:left; font-weight:bold; padding: 5px; background-color: #faebd7;") Warm Up - Your Playlist
        p#task-description2(style="display:none") Please rate the songs in terms of its&nbsp
          strong pleasant surprise.
        p
          span#listlength(style="color:red; font-weight:bold") No&nbsp;
          span#listlength2 song has
          | &nbsp;been added in the list.
        #likedsongs
          ul.list-group
        br
        button#start-task.btn.btn-primary Start study

      .iphone-x
        .loading
        .window(style="display:none")
          .chat
        input#message(type='text', name='message', value='', placeholder="Chat with me!", style="display:none")
      .task
        #accordion
          h3 Tips for tuning the recommendations by audio features
          div
            p.desc Currently the system supports searching by 5 audio features,
            br

            p.desc
              span.exp(data-container="body" data-toggle='popover', data-placement='auto', data-content='Energy represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale.', style="color:#2061E5") Energy:
              span To tweak recommendation by energy, you can say
            p.example "I need more/less energy"
            p.example "I need higher/lower energy"
            br
            
            p.desc
              span.exp(data-container="body" data-toggle='popover', data-placement='auto', data-content='Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity.', style="color:#2061E5") Danceability:
              span To tweak recommendation by danceability, you can say
            p.example "I need higher/lower danceability"
            p.example "I need to dance"
            p.example "Play a song for dancing"
            br

            p.desc
              span.exp(data-container="body" data-toggle='popover', data-placement='auto', data-content='Speechiness detects the presence of spoken words in a track.', style="color:#2061E5") Speechiness:
              span To tweak recommendation by speechiness, you can say
            p.example "I need more/less speech"
            p.example "Play a song with less speech"
            br

            p.desc
              span.exp(data-container="body" data-toggle='popover', data-placement='auto', data-content='Tempo is the speed or pace of a given piece and derives directly from the average beat duration.', style="color:#2061E5") Tempo:
              span To tweak recommendation by tempo, you can say
            p.example "I like slow/fast songs"
            p.example "Play some fast music"
            br

            p.desc
              span.exp(data-container="body" data-toggle='popover', data-placement='auto', data-content='Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).', style="color:#2061E5") Valence:
              span To tweak recommendation by tempo, you can say
            p.example "I feel happy"
            p.example "feel sad"

          h3 Tips for tuning the recommendations by music categories
          div
            p.desc
              | If you want to search for songs by genres such as pop, rock, jazz, R&B,
              | you can say
            br
            p.example "Play songs for traveling"
            p.example "Songs for party"
            p.example "Play jazz songs"
            p.example "I like rock"
            p.example "Play a pop song"
          //h3 Tips for tuning the recommendations by music languages
          //div
          //  p.desc You can specify the language of songs by saying
          //  br
          //  p.example "I like Chinese songs"
          //  p.example "Play a English song"
          //  p.example "Find me some good music on Chinese"
          //  p.example "I want to listen to English music"
          h3 Tips for tuning the recommendations by artists
          div
            p.desc If you want to search for songs by artists, you can say
            br
            p.example "Play Justin Bieber songs"
            p.example "I like Lady Gaga music"
    script(type = "text/javascript", src = "../jquery/dist/jquery.min.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../jquery.cookie/jquery.cookie.js", charset = 'utf-8')
    script(type = "text/javascript", src = "../jquery-ui/jquery-ui.min.js", charset = 'utf-8')
    script(type = "text/javascript", src = "js/popper.min.js", charset = 'utf-8')
    script(src='/socket.io/socket.io.js')
    script(src = "https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.min.js")
    script(src='../bootstrap-star-rating/js/star-rating.min.js')
    script(src='js/recorder-core.js')
    script(src='js/wav.js')
    script(src='js/axios.min.js')
    script(src='js/genre-data-front.js')
    script(src='js/script.js')
