doctype html
html
    head
        title Bonus Questionnaire
        script(type = "text/javascript", src = "../jquery/dist/jquery.min.js", charset = 'utf-8')
        style(type='text/css').
            html, body {
                padding: 0;
                margin: 0;
            }

            .wrap, select, .normal-input {
                font: 1rem Arial, san-serif;
            }

            h1.likert-header {
                text-align: center;
                margin: 20px 0 0;
            }

            form {
                width: 70%;
                margin-left: 15%;
            }

            form .normal-input {
                margin-left: 8%;
            }

            form .statement {
                display: block;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 30px 0 0 4.25%;
                margin-bottom: 10px;
            }

            form .likert {
                list-style: none;
                width: 100%;
                left: 10%;
                margin: 0;
                padding: 50px 0 50px;
                display: block;
                border-bottom: 1px solid #efefef;
            }

            form .likert:last-of-type {
                border-bottom: 0;
            }

            form .likert:before {
                content: '';
                position: relative;
                top: 30px;
                display: block;
                background-color: #efefef;
                height: 4px;
                width: 95%;
            }

            form .likert li {
                display: inline-block;
                width: 13%;
                text-align: center;
                vertical-align: top;
            }

            form .likert li input[type=radio] {
                display: block;
                position: relative;
                top: 0;
                left: 50%;
                margin-left: -6px;
            }

            form .likert li label {
                width: 100%;
            }

            form .buttons {
                margin: 100px 30px;
                padding: 0 4.25%;
                text-align: center;
            }

            form .buttons button {
                padding: 5px 10px;
                background-color: #67ab49;
                border: 0;
                border-radius: 3px;
                font-size: 2rem;
                margin-left: 30px;
            }

            form .buttons .clear {
                background-color: #e9e9e9;
            }

            form .buttons .submit {
                background-color: #67ab49;
            }

            form .buttons .clear:hover {
                background-color: #ccc;
            }

            form .buttons .submit:hover {
                background-color: #14892c;
            }

            textarea {
                margin-left: 2%;
                font-size: 1.5rem;
            }

            input {
                zoom: 3;
            }
    body
        .wrap
            h1.likert-header This is an additional post-study survey
            form(action='')
                label.statement 1. The music chatbot explains why the songs are recommended to me.
                ul#post-1.likert
                    li
                        input(type='radio', value='1', name='group1')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group1')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group1')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group1')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group1')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group1')
                        label Agree
                    li
                        input(type='radio', value='7', name='group1')
                        label Strongly agree
                label.statement 2. The information provided for the recommended songs is sufficient for me to make a purchase/download decision.
                ul#post-2.likert
                    li
                        input(type='radio', value='1', name='group2')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group2')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group2')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group2')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group2')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group2')
                        label Agree
                    li
                        input(type='radio', value='7', name='group2')
                        label Strongly agree
                label.statement 3. The music chatbot allows me to tell what I like/dislike.
                ul#post-3.likert
                    li
                        input(type='radio', value='1', name='group3')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group3')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group3')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group3')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group3')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group3')
                        label Agree
                    li
                        input(type='radio', value='7', name='group3')
                        label Strongly agree
                label.statement 4. I found it easy to tell the music chatbot what I like/dislike. (It is easy to tell the music chatbot what I want.)
                ul#post-4.likert
                    li
                        input(type='radio', value='1', name='group4')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group4')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group4')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group4')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group4')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group4')
                        label Agree
                    li
                        input(type='radio', value='7', name='group4')
                        label Strongly agree
                label.statement
                    | 5. I became familiar with the music chatbot very quickly.
                ul#post-5.likert
                    li
                        input(type='radio', value='1', name='group5')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group5')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group5')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group5')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group5')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group5')
                        label Agree
                    li
                        input(type='radio', value='7', name='group5')
                        label Strongly agree

                label.statement 6. The music chatbot allows me to modify my taste profile.
                ul#post-6.likert
                    li
                        input(type='radio', value='1', name='group6')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group6')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group6')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group6')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group6')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group6')
                        label Agree
                    li
                        input(type='radio', value='7', name='group6')
                        label Strongly agree
                label.statement
                    | 7. I found it easy to modify my taste profile in the music chatbot.
                ul#post-7.likert
                    li
                        input(type='radio', value='1', name='group7')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group7')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group7')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group7')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group7')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group7')
                        label Agree
                    li
                        input(type='radio', value='7', name='group7')
                        label Strongly agree
                label.statement 8. The music chatbot helped me find the ideal song.
                ul#post-8.likert
                    li
                        input(type='radio', value='1', name='group8')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group8')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group8')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group8')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group8')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group8')
                        label Agree
                    li
                        input(type='radio', value='7', name='group8')
                        label Strongly agree
                label.statement 9. Using the music chatbot to find what I like is easy.
                ul#post-9.likert
                    li
                        input(type='radio', value='1', name='group9')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group9')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group9')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group9')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group9')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group9')
                        label Agree
                    li
                        input(type='radio', value='7', name='group9')
                        label Strongly agree
                label.statement 10. I am convinced of the songs recommended to me.
                ul#post-10.likert
                    li
                        input(type='radio', value='1', name='group10')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group10')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group10')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group10')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group10')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group10')
                        label Agree
                    li
                        input(type='radio', value='7', name='group10')
                        label Strongly agree
                label.statement 11. I am confident I will like the songs recommended to me.
                ul#post-11.likert
                    li
                        input(type='radio', value='1', name='group11')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group11')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group11')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group11')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group11')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group11')
                        label Agree
                    li
                        input(type='radio', value='7', name='group11')
                        label Strongly agree
                label.statement 12. Which of the following item is not fruit?
                ul#post-12.likert
                    li
                        input(type='radio', value='1', name='group12')
                        label Apple
                    li
                        input(type='radio', value='2', name='group12')
                        label Pear
                    li
                        input(type='radio', value='3', name='group12')
                        label Mango
                    li
                        input(type='radio', value='4', name='group12')
                        label Orange
                    li
                        input(type='radio', value='5', name='group12')
                        label Banana
                    li
                        input(type='radio', value='6', name='group12')
                        label Milk
                    li
                        input(type='radio', value='7', name='group12')
                        label Strawberry
                label.statement 13. The music chatbot made me more confident about my selection/decision.
                ul#post-13.likert
                    li
                        input(type='radio', value='1', name='group13')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group13')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group13')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group13')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group13')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group13')
                        label Agree
                    li
                        input(type='radio', value='7', name='group13')
                        label Strongly agree
                label.statement 14. I will use this music chatbot frequently.
                ul#post-14.likert
                    li
                        input(type='radio', value='1', name='group14')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group14')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group14')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group14')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group14')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group14')
                        label Agree
                    li
                        input(type='radio', value='7', name='group14')
                        label Strongly agree
                label.statement 15. I will tell my friends about this music chatbot.
                ul#post-15.likert
                    li
                        input(type='radio', value='1', name='group15')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group15')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group15')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group15')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group15')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group15')
                        label Agree
                    li
                        input(type='radio', value='7', name='group15')
                        label Strongly agree
                label.statement 16. The music chatbot understands what I said.
                ul#post-16.likert
                    li
                        input(type='radio', value='1', name='group16')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group16')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group16')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group16')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group16')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group16')
                        label Agree
                    li
                        input(type='radio', value='7', name='group16')
                        label Strongly agree
                label.statement 17. The pace of interaction with the music chatbot is appropriate.
                ul#post-17.likert
                    li
                        input(type='radio', value='1', name='group17')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group17')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group17')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group17')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group17')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group17')
                        label Agree
                    li
                        input(type='radio', value='7', name='group17')
                        label Strongly agree
                label.statement 18. The music chatbot responded to my query/request quickly.
                ul#post-18.likert
                    li
                        input(type='radio', value='1', name='group18')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group18')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group18')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group18')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group18')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group18')
                        label Agree
                    li
                        input(type='radio', value='7', name='group18')
                        label Strongly agree
                label.statement 19. I feel it is entertaining and interesting to engage in a dialogue with this music chatbot.
                ul#post-19.likert
                    li
                        input(type='radio', value='1', name='group19')
                        label Strongly disagree
                    li
                        input(type='radio', value='2', name='group19')
                        label Disgree
                    li
                        input(type='radio', value='3', name='group19')
                        label Somewhat disagree
                    li
                        input(type='radio', value='4', name='group19')
                        label Neutral
                    li
                        input(type='radio', value='5', name='group19')
                        label Somewhat agree
                    li
                        input(type='radio', value='6', name='group19')
                        label Agree
                    li
                        input(type='radio', value='7', name='group19')
                        label Strongly agree
                label.statement 20. I enjoy talking to this music chatbot.
                ul#post-20.likert
                    li
                        input(type='radio', name='group20', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group20', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group20', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group20', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group20', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group20', value='6')
                        label Agree
                    li
                        input(type='radio', name='group20', value='7')
                        label Strongly agree
                label.statement 21. The music chatbot adapted continuously to my preferences.
                ul#post-21.likert
                    li
                        input(type='radio', name='group21', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group21', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group21', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group21', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group21', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group21', value='6')
                        label Agree
                    li
                        input(type='radio', name='group21', value='7')
                        label Strongly agree
                label.statement 22. I always had the feeling that this music chatbot learns my preferences.
                ul#post-22.likert
                    li
                        input(type='radio', name='group22', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group22', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group22', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group22', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group22', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group22', value='6')
                        label Agree
                    li
                        input(type='radio', name='group22', value='7')
                        label Strongly agree

                label.statement 23. I am able to say everything I want to say during the conversation.
                ul#post-23.likert
                    li
                        input(type='radio', name='group23', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group23', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group23', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group23', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group23', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group23', value='6')
                        label Agree
                    li
                        input(type='radio', name='group23', value='7')
                        label Strongly agree

                label.statement 24. I felt uncomfortable and could not say everything that I wanted to say.
                ul#post-24.likert
                    li
                        input(type='radio', name='group24', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group24', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group24', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group24', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group24', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group24', value='6')
                        label Agree
                    li
                        input(type='radio', name='group24', value='7')
                        label Strongly agree

                label.statement 25. The interaction was frustrating.
                ul#post-25.likert
                    li
                        input(type='radio', name='group25', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group25', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group25', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group25', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group25', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group25', value='6')
                        label Agree
                    li
                        input(type='radio', name='group25', value='7')
                        label Strongly agree

                label.statement 26. I felt I was in sync with this music chatbot.
                ul#post-26.likert
                    li
                        input(type='radio', name='group26', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group26', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group26', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group26', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group26', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group26', value='6')
                        label Agree
                    li
                        input(type='radio', name='group26', value='7')
                        label Strongly agree
                label.statement 27. The music chatbot was respectful to me and considered my concerns.
                ul#post-27.likert
                    li
                        input(type='radio', name='group27', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group27', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group27', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group27', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group27', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group27', value='6')
                        label Agree
                    li
                        input(type='radio', name='group27', value='7')
                        label Strongly agree
                label.statement 28. The music chatbot was interested in what I was saying.
                ul#post-28.likert
                    li
                        input(type='radio', name='group28', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group28', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group28', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group28', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group28', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group28', value='6')
                        label Agree
                    li
                        input(type='radio', name='group28', value='7')
                        label Strongly agree
                label.statement 29. I was not really interested in what the music chatbot was saying.
                ul#post-29.likert
                    li
                        input(type='radio', name='group29', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group29', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group29', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group29', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group29', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group29', value='6')
                        label Agree
                    li
                        input(type='radio', name='group29', value='7')
                        label Strongly agree
                label.statement 30. I felt that this music chatbot was paying attention to what I was saying.
                ul#post-30.likert
                    li
                        input(type='radio', name='group30', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group30', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group30', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group30', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group30', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group30', value='6')
                        label Agree
                    li
                        input(type='radio', name='group30', value='7')
                        label Strongly agree
                label.statement 31. The music chatbot tries to know more about me. (Inquisitiveness)
                ul#post-31.likert
                    li
                        input(type='radio', name='group31', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group31', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group31', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group31', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group31', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group31', value='6')
                        label Agree
                    li
                        input(type='radio', name='group31', value='7')
                        label Strongly agree

                label.statement 32. The music chatbot was warm and caring.
                ul#post-32.likert
                    li
                        input(type='radio', name='group32', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group32', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group32', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group32', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group32', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group32', value='6')
                        label Agree
                    li
                        input(type='radio', name='group32', value='7')
                        label Strongly agree
                label.statement 33. The music chatbot cared about me.
                ul#post-33.likert
                    li
                        input(type='radio', name='group33', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group33', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group33', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group33', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group33', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group33', value='6')
                        label Agree
                    li
                        input(type='radio', name='group33', value='7')
                        label Strongly agree
                label.statement 34. I liked and felt warm toward the music chatbot.
                ul#post-34.likert
                    li
                        input(type='radio', name='group34', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group34', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group34', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group34', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group34', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group34', value='6')
                        label Agree
                    li
                        input(type='radio', name='group34', value='7')
                        label Strongly agree
                label.statement 35. The music chatbot was friendly to me.
                ul#post-35.likert
                    li
                        input(type='radio', name='group35', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group35', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group35', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group35', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group35', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group35', value='6')
                        label Agree
                    li
                        input(type='radio', name='group35', value='7')
                        label Strongly agree

                label.statement 36. I felt that I had no connection with the music chatbot.
                ul#post-36.likert
                    li
                        input(type='radio', name='group36', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group36', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group36', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group36', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group36', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group36', value='6')
                        label Agree
                    li
                        input(type='radio', name='group36', value='7')
                        label Strongly agree

                label.statement 37. The music chatbot and I established rapport.
                ul#post-37.likert
                    li
                        input(type='radio', name='group37', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group37', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group37', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group37', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group37', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group37', value='6')
                        label Agree
                    li
                        input(type='radio', name='group37', value='7')
                        label Strongly agree

                label.statement 38. I felt rapport between this music chatbot and myself.
                ul#post-38.likert
                    li
                        input(type='radio', name='group38', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group38', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group38', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group38', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group38', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group38', value='6')
                        label Agree
                    li
                        input(type='radio', name='group38', value='7')
                        label Strongly agree
                label.statement 39. The music chatbot’s responses are readable and fluent.
                ul#post-39.likert
                    li
                        input(type='radio', name='group39', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group39', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group39', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group39', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group39', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group39', value='6')
                        label Agree
                    li
                        input(type='radio', name='group39', value='7')
                        label Strongly agree
                label.statement 40. The music chatbot’s responses are informative.
                ul#post-40.likert
                    li
                        input(type='radio', name='group40', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group40', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group40', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group40', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group40', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group40', value='6')
                        label Agree
                    li
                        input(type='radio', name='group40', value='7')
                        label Strongly agree
                label.statement 41. Most of the music chatbot’s responses make sense.
                ul#post-41.likert
                    li
                        input(type='radio', name='group41', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group41', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group41', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group41', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group41', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group41', value='6')
                        label Agree
                    li
                        input(type='radio', name='group41', value='7')
                        label Strongly agree
                label.statement 42. The music chatbot behaves like a human.
                ul#post-42.likert
                    li
                        input(type='radio', name='group42', value='1')
                        label Strongly disagree
                    li
                        input(type='radio', name='group42', value='2')
                        label Disgree
                    li
                        input(type='radio', name='group42', value='3')
                        label Somewhat disagree
                    li
                        input(type='radio', name='group42', value='4')
                        label Neutral
                    li
                        input(type='radio', name='group42', value='5')
                        label Somewhat agree
                    li
                        input(type='radio', name='group42', value='6')
                        label Agree
                    li
                        input(type='radio', name='group42', value='7')
                        label Strongly agree
                .buttons
                    button.clear Clear
                    button.submit Submit
        script(type='text/javascript').
            var formList = [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null]
            $("input").click(function () {
                var statement = $(this).parent().parent().attr("id").replace(/[^0-9]/ig, "")
                var option = $(this).attr("value")
                formList[statement - 1] = option
                console.log(formList)
            })
            $(".clear").click(function (event) {
                $("input").checked = false;
                formList = [null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null]
            })
            $(".submit").click(function (event) {
                event.preventDefault()
                var uncheckedList = []
                $(".statement").css("background-color", "white")
                for (var index in formList) {
                    if (formList[index] == null) {
                        uncheckedList.push(index)
                        console.log($(".statement:eq(" + index + ")"))
                        $(".statement:eq(" + index + ")").css("background-color", "yellow")
                    }
                }

                if (uncheckedList.length > 0) {
                    alert("Please finished the missing statement(s) marked in yellow.")
                } else {


                    var log = {}
                    log.que3 = formList
                    log.id = JSON.parse(window.localStorage.getItem("log")).id

                    console.log(log)

                    $.ajax({
                        url: '/updateRecord',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(log),
                        dataType: 'json',
                        success: function () {
                            window.location.href = "/success2"
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    });

                }
            })
