doctype html
html
    head
        title Spotify Visualization
        style.
            body{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            a{
                font-size: xx-large;
            }

            p{
                font-size:200%;
            }

            img{
                width:100%;
            }

            .box {
                font-size: 20px;
                color: #ff000a;
                margin: 10px;
                animation: changeshadow 1s ease-in infinite;
                /* 其它浏览器兼容性前缀 */
                -webkit-animation: changeshadow 1s linear infinite;
                -moz-animation: changeshadow 1s linear infinite;
                -ms-animation: changeshadow 1s linear infinite;
                -o-animation: changeshadow 1s linear infinite;
            }

            @keyframes changeshadow {
                0% {
                    text-shadow: 0 0 4px #ff000a
                }
                50% {
                    text-shadow: 0 0 40px #ff000a
                }
                100% {
                    text-shadow: 0 0 4px #ff000a
                }
            }

            /* 添加兼容性前缀 */
            @-webkit-keyframes changeshadow {
                0% {
                    text-shadow: 0 0 4px #ff000a
                }
                50% {
                    text-shadow: 0 0 40px #ff000a
                }
                100% {
                    text-shadow: 0 0 4px #ff000a
                }
            }

            @-moz-keyframes changeshadow {
                0% {
                    text-shadow: 0 0 4px #ff000a
                }
                50% {
                    text-shadow: 0 0 40px #ff000a
                }
                100% {
                    text-shadow: 0 0 4px #ff000a
                }
            }

            @-ms-keyframes changeshadow {
                0% {
                    text-shadow: 0 0 4px #ff000a
                }
                50% {
                    text-shadow: 0 0 40px #ff000a
                }
                100% {
                    text-shadow: 0 0 4px #ff000a
                }
            }

            @-o-keyframes changeshadow {
                0% {
                    text-shadow: 0 0 4px #ff000a
                }
                50% {
                    text-shadow: 0 0 40px #ff000a
                }
                100% {
                    text-shadow: 0 0 4px #ff000a
                }
            }

    body
        p You have finished the study. Thank you~


        div(style='width:20%;height:auto')
            img(src="img/thanks.gif")
        script(type = "text/javascript", src = "../jquery/dist/jquery.min.js", charset = 'utf-8')